<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../shared/libs.min.css" type="text/css" />
    <link rel="stylesheet" href="../shared/app.min.css" type="text/css" />
    <link rel="stylesheet" href="./slide.min.css" type="text/css" />
</head>