<!DOCTYPE html>
<html lang="en">
{{> head title="Slide 01" }}
<body class="preload">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Here's the content for slide 1.</p>
    {{> _modals }}
    
{{> footer }}
</body>
</html>